*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color:white;
}

header{
    background-color:rgb(68, 66, 66);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigasi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes gambar{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

#gambar{
    overflow: hidden;
}
#gambar figure img{
    width: 10%;
    height:5%;
    float: left;
}

#gambar figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s gambar infinite;
}
a{
    text-decoration: none;
}

.Logo{
    color:tomato;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

.Logo:hover{
    color:white;
}

.list{
    display: flex;
    align-items: center;
}

.list li{
    display: flex;
}

.list li a{
    color:white;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    transition: 0.5s;
}

.list li a:hover{
    color: rgb(10, 10, 10);
}
.front{
    background-color:rgb(68, 66, 66);
    background-size:cover;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fronttulisan{
    color: wheat;
    font-size: 70px;
    font-weight: bolder;
    font-family:sans-serif;
    transition: 0.5s;
}


.fronttulisan:hover{
    transform: scale(1.05);
}
